.DS_Store
node_modules
out
test.src
node_modules
extension.browser.js
extension.js
extension.browser.mjs
extension.cjs
*.vsix
api.view.css
api.view.js
preview.view.css
preview.view.js
.vscode-test-web
greyscript.theme.json
greyscript.tmLanguage.json
greyscriptLanguageConfig.json
system.pem