.DS_Store
node_modules
out
test.src
node_modules
extension.browser.js
extension.js
*.vsix
api.view.css
api.view.js
.vscode-test-web
greyscript.theme.json
greyscript.tmLanguage.json
greyscriptLanguageConfig.json
src/lzma_worker.js
system.pem