.vscode
.vscode-test-web
out
grammar
src
.git
rollup.config.browser.js
rollup.config.node.js
rollup.config.node.api
tsconfig.json
.gitignore
.eslintrc
.npmignore
.npmrc
.circleci
.env
package-lock.json
assets
node_modules
!node_modules/**/*.json
!node_modules/**/*.js
!node_modules/**/*.pem