version: 2.1

orbs:
  node: circleci/node@5.1.0

commands:
  build:  
    steps:
      - run:
          name: Install esbuild package
          command: npm i @esbuild/darwin-x64@0.21.0
      - run:
          name: Build extension
          command: npm run compile:extension

jobs:
  build:  
    docker:
      - image: cimg/node:19.8.1
    steps:
      - checkout
      - node/install-packages
      - build
  build-and-publish: 
    docker:
      - image: cimg/node:19.8.1
    steps:
      - checkout
      - node/install-packages
      - build
      - run:
          name: Determining package version
          command: echo 'export PACKAGE_VERSION=$(node -pe "require(\"./package.json\").version")' >> $BASH_ENV
      - run:
          name: Publish extension
          command: ./node_modules/.bin/vsce publish -p ${VSCE_TOKEN} ${PACKAGE_VERSION}

workflows:
  main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - build-and-publish
  test:
    jobs:
      - build
