version: 2.1

orbs:
  node: circleci/node@5.1.0

commands:
  build:  
    steps:
      - run:
          name: Build extension
          command: npm run compile:extension

jobs:
  build:  
    docker:
      - image: cimg/node:20.18.0
    steps:
      - checkout
      - node/install-packages
      - build
  publish-ovsx: 
    docker:
      - image: cimg/node:20.18.0
    steps:
      - checkout
      - node/install-packages
      - build
      - run:
          name: Determining package version
          command: echo 'export PACKAGE_VERSION=$(node -pe "require(\"./package.json\").version")' >> $BASH_ENV
      - run:
          name: Publish extension to Open VSX
          command: ./node_modules/.bin/ovsx publish -p ${OPEN_VSX_TOKEN}
  publish-vsce: 
    docker:
      - image: cimg/node:20.18.0
    steps:
      - checkout
      - node/install-packages
      - build
      - run:
          name: Determining package version
          command: echo 'export PACKAGE_VERSION=$(node -pe "require(\"./package.json\").version")' >> $BASH_ENV
      - run:
          name: Publish extension to MS Marketplace
          command: ./node_modules/.bin/vsce publish -p ${VSCE_TOKEN} ${PACKAGE_VERSION}

workflows:
  main:
    when:
      and:
        - equal: [main, << pipeline.git.branch >>]
    jobs:
      - publish-ovsx
      - publish-vsce
  test:
    jobs:
      - build
