html {
    background: #1e1e1e;
    color: #CCC;
    font-family: monospace;
}

#root > div > input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    position: fixed;
    left: 0;
    top: 0;
    height: 9px;
    width: 200px;
    font-size: 14px;
    margin: 10px;
    z-index: 999;
}

.readme {
    margin: 0 0 0 235px;
}

.readme h1 {
	color: #ce9178;
}

.readme ul {
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 999;
}

.readme li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.readme a {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 1em 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
    background-color: #999;
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
}

.readme a:active {
    border: 1px solid #000;
}

.editor {
    min-height: 100px;
    width: auto;
	border: 1px groove #333;
}

.editorWrapper .run {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 1em 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
    background-color: #999;
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
}

.editorWrapper .run:active {
    border: 1px solid #000;
}

.content-table {
    margin: 0;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 235px;
    overflow: auto;
    -ms-overflow-style: auto;
    scrollbar-color: #CCC #333;
    scrollbar-width: thin;
}

.content-table::-webkit-scrollbar-thumb {
    background-color: #CCC;
}
.content-table::-webkit-scrollbar-track {
    background-color: #333;
}
.content-table::-webkit-scrollbar-corner {
    background-color: #333;
}
.content-table::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.content-table ul {
    margin: 0;
    padding: 0;
}

.content-table li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-table .first {
    margin: 0 0 0 10px;
}

.content-table .first > li > a {
    color: #3dc9b0;
    text-transform: capitalize;
}

.content-table .second {
    margin: 0 0 10px 10px;
}

.content-table .second > li > a {
    color: #74b0df;
}

.content-table a {
    text-decoration: none;
    color: #CCC;
    cursor: pointer;
}

.basics {
    margin: 0 0 0 235px;
}

.basics > a {
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 1em 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
    background-color: #999;
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.basics > a:active {
    border: 1px solid #000;
}

.basics > div {
    border: 1px groove #333;
    padding: 10px;
    margin: 0 0 10px;
}

.basics .editorWrapper {
    margin: 10px 0 0;
}

.basics h2 {
    color: #3dc9b0;
}

.collapse {
    cursor: pointer;
}

.basics .hidden {
    display: none;
}

.definitions {
    margin: 0 0 0 235px;
}

.definitions ul, .definitions p {
    margin: 0;
    padding: 0;
}

.definitions li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.definitions .hidden {
    display: none;
}

.definitions .first {
    border: 1px groove #333;
}

.definitions .first > li:first-child {
    margin: 10px;
}

.definitions .first > li {
    margin: 20px 10px;
}

.definitions .second {
    margin: 0 0 0 10px;
}

.definitions .second > li {
    border-bottom: 1px groove #333;
    padding: 10px;
    margin: 0 0 10px;
}

.definitions h2 {
    color: #3dc9b0;
	text-transform: capitalize;
}

.definitions .definition {
	position: relative;
}

.definitions .definition .share {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	color: #ce9178;
}

.definitions .definition table {
    width: 100%;
}

.definitions .definition h3 {
    margin-top: 0;
    color: #74b0df;
}

.definitions .definition .label {
    width: 100px;
    color: #FFF;
    vertical-align: top;
}

.definitions .definition .signature .args, .definitions .definition .returns {
    display: inline-block;
}

.definitions .definition .signature .args .label {
    color: #d4d4d4;
}

.definitions .definition .signature .args .type {
    color: #3dc9b0;
}

.definitions .definition .signature .returns .type {
    color: #3dc9b0;
}

.definitions .definition .signature .returns .or {
    margin: 0 5px;
    color: #569cd6;
}

.definitions .definition .description .highlight.type {
    color: #3dc9b0;
}

.definitions .definition .description .highlight.string {
    color: #ce9178;
}